<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Kopa Keja | Login</title>
</head>
<body>
    <nav>
         <div class="navbar-container">
         <h4><a href="/"> KOPA KEJA</a></h4>
        <ul class="nav-links">
            <li><a href="/register">Register</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
         </div>
    </nav>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Login Form
            </div>
                <div class="card-body">
                   <form action="/Users/login" method="POST">
                    <div class="form_group">
                        <label for="inputemail"> Email Adress</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                    </div>
                    <div class="form_group">
                        <label for="inputpassword"> Password</label>
                        <input type="password" class="form-control" id="password" name="password"placeholder="Enter your password" required>
                    </div>
                    <div class="text-center"> 
                        <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
                    </div>
                    </form>  
                     <div class="text-center"> 
                    <p>If you don't have an account, <a href="/register">click here to register</a>.</p> 
                     </div>            
                </div>
            </div>
                   {{#if errors}}
  {{#each errors}}
    <h4 class="alert alert-danger mt-4">{{this.message}}</h4>
  {{/each}}
{{/if}}
            {{#if messages.success_msg}}
 <h4 class="alert alert-success mt-4">{{ messages.success_msg }}</h4>
{{/if}}
              
  {{#if messages.error}}
    <h4 class="alert alert-danger mt-4">{{ messages.error }}</h4>
{{/if}}
    </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  	
</body>
</html>